<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <!-- Place favicon.ico in the root directory -->
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div class="jumbotron">
          <div class="container">
            <h1>Slimgate Display</h1>
            <p>Slimgate Display Simulation</p>
            <a href="/"><button class="btn btn-default" type='button'>Dashboard</button></a>
 	  </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-md-6" style="height: 35em; background-color: #e6e6e6" id="front_screen">
              <!--<img src="{{ url_for('static', filename='images/check-mark.png') }}" style="width:35em; height:35em;"<img>
            --></div>
            <div class="col-md-6" style="height: 35em; background-color: #e6e6e6" id="back_screen">
            	<img src="{{ url_for('static', filename='images/x-mark.png') }}" style="width:35em; height:35em;"<img>
	    </div>
	    <div class="row">
              <div class="col-md-6">
	        <p>front</p>
	      </div>
              <div class="col-md-6">
	        <p>back</p>
	      </div>
	    </div>
          </div>
        </div>

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
        <script>
	  var data = "to be changed";
	  var count = "number of opens";
	  var state = "current state";
	  var buttton = "button";

          $(document).ready(function() {
            // Create SocketIO connect and attach handlers for events from the server.
            var socket = io.connect();
	    
	    socket.on('data_change', function(e) {
	      data = e.data;
	      count = e.count;
	      state = data.charAt(6);
	      button = data.charAt(5);
	      console.log(button);
	      //console.log(count);
	      //$('#test').empty();
	      //$('#test').empty().append("data is: " + data);
	      if (button == 1) {
	        $('#front_screen').empty().append("<img src='{{ url_for('static', filename='images/check-mark.png') }}' style='width:35em; height:35em;'<img> ");
	      }
	      else {
                $('#front_screen').empty();
	      }

	    });
          });
        </script>
    </body>
</html>
