<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/indicator.css') }}">
	<!-- Place favicon.ico in the root directory -->
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div class="jumbotron">
          <div class="container">
            <h1>Slimgate Dashboard</h1>
            <p>Welcome to the Slimgate Dashboard!</p>
	    <a href="display"><button class="btn btn-default" type='button' id='display'>Gate Displays</button></a>
          </div>
        </div>

        <div class="container">
          <div class="row">
	    <div class="col-md-4" style="height: 20em;">
              <h2>Number of Entries: <span id='switch_value' class="label"></span></h2>
	      <h3 id='entries'>0</h3>
            </div>
	    <div class="col-md-4" style="height: 20em;">
              <h2>Zones: </h2>
		<div class="led-box" id="zone1">
	          <div class="led-red"></div>
		  <p>1</p>
		</div>
		<div class="led-box" id="zone2">
		  <div class="led-red"></div>
		  <p>2</p>
		</div>
	        <div class="led-box" id="zone3">
	          <div class="led-red"></div>
		  <p>3</p>
		</div>
	        <div class="led-box" id="zone4">
	          <div class="led-red"></div>
		  <p>4</p>
		</div>
            </div>
            
	    <div class="col-md-4" style="height: 20em;">
              <h2>Current State: </h2>
              <h3 id="current_state">0</h3>
            </div>
            
	    <div class="col-md-4" style="height: 20em;">
              <h2>Gate State: </h2>
	      <div class="led-box" id="gate_state">
	        <div class="led-red"></div>
	      </div>
            </div>
            
	    <div class="col-md-4" style="height: 20em;">
              <h2>Short Flag: </h2>
	      <div class="led-box" id="short_flag">
	        <div class="led-red"></div>
	      </div>
            </div>
            
	    <div class="col-md-4" style="height: 20em;">
              <h2>Gate Uptime: </h2>
	      <h4 id="time">uptime</h4>
            </div>
          
	  </div>
        </div>

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
        <script>
	  var data = "to be changed";
	  var count = "number of opens";
	  var time = "server uptime";	
	  var state = "current state";

          $(document).ready(function() {
            // Create SocketIO connect and attach handlers for events from the server.
            var socket = io.connect();
	    
	    socket.on('data_change', function(e) {
	      data = e.data;
	      count = e.count;
	      time = e.time.substring(0, (e.time.length) - 5);
	      state = data.charAt(6);
	      $('#test').empty().append("data is: " + data);
	      $('#entries').empty().append(count + "");
	      $('#time').empty().append(time + "");
	      $('#current_state').empty().append(state + "");
	      
	      if (data.charAt(0)==1) {
	        $('#zone1').empty().append("<div class='led-green'></div><p>1</p>");
	      }
	      else {
	        $('#zone1').empty().append("<div class='led-red'></div><p>1</p>");
	      }

              if (data.charAt(1)==1) {
                $('#zone2').empty().append("<div class='led-green'></div><p>2</p>");
              }
              else {
                $('#zone2').empty().append("<div class='led-red'></div><p>2</p>");
              }
              
              if (data.charAt(2)==1) {
                $('#zone3').empty().append("<div class='led-green'></div><p>3</p>");
              }
              else {
                $('#zone3').empty().append("<div class='led-red'></div><p>3</p>");
              }
              
              if (data.charAt(3)==1) {
                $('#zone4').empty().append("<div class='led-green'></div><p>4</p>");
              }
              else {
                $('#zone4').empty().append("<div class='led-red'></div><p>4</p>");
              }
              
	      if (data.charAt(4)==1) {
                $('#gate_state').empty().append("<div class='led-green'></div>");
              }
              else {
                $('#gate_state').empty().append("<div class='led-red'></div>");
              }

	      if (data.charAt(7)==1) {
                $('#short_flag').empty().append("<div class='led-green'></div>");
              }
              else {
                $('#short_flag').empty().append("<div class='led-red'></div>");
              }

	    });
          });
        </script>
    </body>
</html>
